@mixin footer-data() {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}

.footer{
    padding: 10px;
    position: relative;
    .footer-chart{
        padding-bottom: 20px;
    }
    .copyright{
        @include footer-data();
        left: 50%;
        transform: translateX(-50%);
    }
    .updateTime{
        @include footer-data();
        right: 10px;
        .Time{
            display: inline-block;
        }
    }
}