$head-bg-color: #fff;
$nav-color: #25586B;
$nav-bg-color: #fff;
$popup-hover-color: #2d7c81;
$sidebar-color: #92e3e9;
$sidebar-hover-color: #2d7c81;
$main-title-color: #25586B;
$main-color: rgb(246, 248, 248);
$main-card-color: #c4f3ed;
$footer-color: #dff5f2;
$bcg-color-white: #fff;
$scroll-color: rgb(24, 60, 73);
$E00: 100%;
$peoplenumber: rgb(252, 25, 25);

// main
$title: #fff;
$main-title: 1.7vw;
$card-fontsize: 2.2vw;
$card-quantity: 32px;